.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems {
    padding: 20px;
}

.dialogs a {
    text-decoration: none;
}
.dialogs a.active {
    color: aqua;
}

.messages {
    padding: 10px;
    color: aliceblue;
}
.add {
    text-align: center;
}
